image: docker:latest
services:
- docker:dind

stages:
- build
- test
- release

#before_script:
#  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN gitlab.example.com:5555

build:
  stage: build
  script:
    - docker build -t ${CI_REGISTRY_IMAGE}:build-${CI_BUILD_ID} .