image: docker:latest
services:
- docker:dind

stages:
- build
- run

before_script:
    - cat /etc/*release
    - pwd
    - env
    - export
    - docker login -u gitlab-ci-token -p ${CI_BUILD_TOKEN} ${CI_REGISTRY}

build:
  #only:
  #  - tags
  tags:
    - dind
  stage: build
  script:
    - docker build -t ${CI_REGISTRY_IMAGE}:build-${CI_BUILD_ID} .
    - DOCKER_TAG="$(echo ${CI_BUILD_REF_NAME} | sed s,/,-,g)"
    - docker tag ${CI_REGISTRY_IMAGE}:build-${CI_BUILD_ID} ${CI_REGISTRY_IMAGE}:${DOCKER_TAG}
    - docker push ${CI_REGISTRY_IMAGE}:${DOCKER_TAG}
    - docker rmi ${CI_REGISTRY_IMAGE}:${DOCKER_TAG}
    - docker rmi ${CI_REGISTRY_IMAGE}:build-${CI_BUILD_ID}

unit-tests:
  tags:
    - docker
  stage: run
  script:
    - docker run --rm ${CI_REGISTRY_IMAGE}:${CI_BUILD_REF_NAME}
